*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: rgb(1, 5, 254);
    margin: 1em
}

body{
    background-color: rgb(39, 39, 39);
    font-size: 18px;
}

.button{
    margin: 1em;
    padding: 8px 45px;
    background-color: rgb(1, 5, 254);
    color: white;
    border: none;
}